[Unit]
Description=Watches for file access in a specific directory
Requires=retain-sync-age@%i.timer
Wants=retain-sync-resync@%i.timer

[Service]
Type=forking
ExecStart=/usr/local/bin/retain-syncd %i
PIDFile=%t/retain-sync/retain-syncd.pid

[Install]
WantedBy=network-online.service
