[Unit]
Description=Watch for file access in a specific directory
Documentation=man:zielen(1)

[Service]
Type=simple
ExecStart=/usr/bin/env python3 -c "from zielen.main import daemon; daemon()" %i
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
