[Unit]
Description=Pull commonly accessed files from a server
Documentation=man:retain-sync(1)
PartOf=retain-sync@%i.service

[Timer]
OnActiveSec=1h

[Install]
WantedBy=timers.target
