[Unit]
Description=Watch for file access in a specific directory
Documentation=man:retain-sync(1) man:retain-syncd(1)
Requires=retain-sync-age@%i.timer
Wants=retain-sync-resync@%i.timer

[Service]
Type=forking
ExecStart=/usr/local/bin/retain-syncd %i
PIDFile=%t/retain-sync/retain-syncd.pid
StandardOutput=journal

[Install]
WantedBy=network-online.service
