[Unit]
Description=Pulls commonly accessed files from a server
PartOf=retain-sync@%i.service

[Timer]
OnActiveSec=1h

[Install]
WantedBy=timers.target
